* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Zen Kurenaido', sans-serif;
    border-bottom: 1px solid white;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.brand-title {
    font-size: 1.5rem;
    margin-left: 40px;
}

.navlinks ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navlinks li {
    list-style: none;
}

.navlinks li a {
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    display: block;
    font-size: 1.5rem;
}

.navlinks li:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 60px;
    transition: 0.8s ease-in 0.1s;
}



.togglebutton {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.togglebutton .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@keyframes moveBg {
    0% {
        background-position: 0% 30%;
    }

    100% {
        background-position: 100% 50%;
    }
}


.aboutMe {
    margin: 0 auto;
    text-align: center;
    padding-top: 10rem;
    background-image: url(../Portfolio/background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

.aboutMe h1 {
    font-family: 'Rampart One', cursive;
    font-size: 3rem;
    color: white;
    background: url('../Portfolio/textfill.jpg');
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveBg 5s linear infinite;
    -webkit-animation: moveBg 5s linear infinite;
}

.aboutText {
    margin: 0 auto;
    max-width: 800px;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 1.5rem;
    color: white;
}



.skillsContainer {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.skillsContainer div img {
    max-width: 400px;
    text-align: justify;
}

.skilltext {
    max-width: 200px;
    color: white;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 1.2rem;
}

.formdiv {
        max-width:400px;
        width:100%;
        margin:0 auto;
        position:relative;
        padding-top: 200px;
    
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background: grey;;
	padding:25px;
	margin:50px 0;
    border-radius: 50px;
}

#contact h3 {
    text-align: center;
	color: black;
	display: block;
	font-size: 3rem;
	font-weight: 400;
    font-family: 'Zen Kurenaido', sans-serif;
}

#contact h5 {
	margin:5px 0 15px;
	display:block;
	font-size: 1.2rem;
    font-family: 'Zen Kurenaido', sans-serif;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background: black;
	margin:0 0 5px;
	padding:10px;
    color: white;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
    resize:none;
    color: white;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background: black;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
    border-radius: 10px;
}

#contact button[type="submit"]:hover {
	background: #5d6d7c;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
color:#888;
}
:-moz-placeholder {
color:#888;
}
::-moz-placeholder {
color:#888;
}
:-ms-input-placeholder {
color:#888;
}

.footer {
    position: fixed;
    width: 100%;
    color: white;
    text-align: center;
}

@media (max-width: 600px) {
    .togglebutton {
        display: flex;
    }

    .navlinks{
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 30px;
    }

    .navlinks ul {
        width: 100%;
        flex-direction: column;
    }

    .navlinks li {
        text-align: center;
    }

    .navlinks li a {
        padding: .5rem 1rem;
    }

    .navlinks.active {
        display: flex;
    }

    .aboutMe {
        background-image: url(../Portfolio/background-768px\ 505px.jpg);
        max-width: 100%;
        height: auto;
        background-size: auto;
    }

    .aboutMe h1 {
        font-family: 'Rampart One', cursive;
        font-size: 2rem;
    }

    .skillsContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

    }

    .skillsContainer div img {
        max-width: 50%;
        margin: 0 auto;
        padding-top: 2rem;
    }
}